
<div class="product_sidebar">  
<!--   {% section 'sidebar-category' %}  -->
  {% section 'custom-text-type-1' %}
  {% section 'product-sidebar-bestsellers' %}    
<!--   {% section 'product-sidebar-deals' %} -->
  {% section 'sidebar-promoimage' %}
</div>
